<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Aca esta el VIEWPORT -->
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <header>
<div class="contenedorTablet">   <!-- contenedor a partir de tablet --> 
    <div class="contenedor">
        <div class="logo"><img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></div>
        <div class="barraBusqueda">Buscar productos, marcas</div>
        <div class="lupa"><i class="fa fa-search"></i></div>
    </div> 
        <div class="compraCuota"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</div>
</div>
        <!-- aca cierra el contenedor tablet -->
        
        <nav class="contenedorNav"> <!-- para listados se arma con NAV + UL + LI -->
            <ul class="site">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <div class="separador"></div>
            <ul class="loginNav">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    
    
    </header>
    <!-- hasta aca HEADER -->

    <!--SECTION PARA BANNER  -->
    <section>
        <img src="/images/img-home-banner.jpg" width="100%" alt="Banner de ofertas">
    </section>
    <!-- FIN DEL BANNER  -->
    
    <!--COMIENZA EL MAIN  -->
    <main>
        <section>
            <h3 class="titulares">Basado en tu última visita</h3>
            <article class="articulos">
            <div class="articulo">   
                <img src="/images/img-cafetera-moulinex.jpg" width="80%">
            
                <div class="miniFooter">
                    <div class="camioncito">
                        <i class="fas fa-truck"></i>
                    </div>
                        <div class="precioDesc">
                        <p class="precios">$6.770</p>
                        <p class="desc">40% off</p>
                        </div>
                    <h4 class="colorLetra">Cafetera Moulinex</h4>
                </div> <!--cierre minifooter -->     
            </div><!--cierre articulo --> 
            <div class="articulo">   
                <img src="/images/img-macbook-pro-2019.jpg" width="80%" alt="MacBook" class="product_img">
            
                <div class="miniFooter">
                    <div class="camioncito">
                        <i class="fas fa-truck"></i>
                    </div>
                        <div class="precioDesc">
                        <p class="precios">$230.000</p>
                        <p class="desc">20% off</p>
                        </div>
                    <h4 class="colorLetra">MacBook Pro 2019</h4>
                </div> <!--cierre minifooter -->     
            </div><!--cierre articulo --> 
            <div class="articulo">   
                <img src="/images/img-samsung-galaxy-s10.jpg" width="80%" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                <div class="miniFooter">
                    <div class="camioncito">
                        <i class="fas fa-truck"></i>
                    </div>
                        <div class="precioDesc">
                        <p class="precios">$70.500</p>
                        <p class="desc">10% off</p>
                        </div>
                    <h4 class="colorLetra">Telefono móvil Samsung Galaxy S10</h4>
                </div> <!--cierre minifooter -->     
            </div><!--cierre articulo --> 
            <div class="articulo">   
                <img src="/images/img-tv-samsung-smart.jpg" width="80%" alt="SmartTv Samsung" class="product_img">
            
                <div class="miniFooter">
                    <div class="camioncito">
                        <i class="fas fa-truck"></i>
                    </div>
                        <div class="precioDesc">
                        <p class="precios">$23.200</p>
                        <p class="desc">5% off</p>
                        </div>
                    <h4 class="colorLetra">SmartTv 43"</h4>
                </div> <!--cierre minifooter -->     
            </div><!--cierre articulo --> 
        </article>    
        </section>
        
        <section>
            <h3>Ofertas</h3>      
            
            <article class="articulos">
                <div class="articulo">   
                    <img src="/images/img-cafetera-moulinex.jpg" width="80%">
                
                    <div class="miniFooter">
                        <div class="camioncito">
                            <i class="fas fa-truck"></i>
                        </div>
                            <div class="precioDesc">
                            <p class="precios">$6.770</p>
                            <p class="desc">40% off</p>
                            </div>
                        <h4 class="colorLetra">Cafetera Moulinex</h4>
                    </div> <!--cierre minifooter -->     
                </div><!--cierre articulo --> 
                <div class="articulo">   
                    <img src="/images/img-macbook-pro-2019.jpg" width="80%" alt="MacBook" class="product_img">
                
                    <div class="miniFooter">
                        <div class="camioncito">
                            <i class="fas fa-truck"></i>
                        </div>
                            <div class="precioDesc">
                            <p class="precios">$230.000</p>
                            <p class="desc">20% off</p>
                            </div>
                        <h4 class="colorLetra">MacBook Pro 2019</h4>
                    </div> <!--cierre minifooter -->     
                </div><!--cierre articulo --> 
                <div class="articulo">   
                    <img src="/images/img-samsung-galaxy-s10.jpg" width="80%" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="miniFooter">
                        <div class="camioncito">
                            <i class="fas fa-truck"></i>
                        </div>
                            <div class="precioDesc">
                            <p class="precios">$70.500</p>
                            <p class="desc">10% off</p>
                            </div>
                        <h4 class="colorLetra">Telefono móvil Samsung Galaxy S10</h4>
                    </div> <!--cierre minifooter -->     
                </div><!--cierre articulo --> 
                <div class="articulo">   
                    <img src="/images/img-tv-samsung-smart.jpg" width="80%" alt="SmartTv Samsung" class="product_img">
                
                    <div class="miniFooter">
                        <div class="camioncito">
                            <i class="fas fa-truck"></i>
                        </div>
                            <div class="precioDesc">
                            <p class="precios">$23.200</p>
                            <p class="desc">5% off</p>
                            </div>
                        <h4 class="colorLetra">SmartTv 43"</h4>
                    </div> <!--cierre minifooter -->     
                </div><!--cierre articulo --> 
            </article>    

        </section>
        <footer>
            <div class="footer-menu" ><i class="fas fa-credit-card"></i></div>
            <h4>Paga con tajeta o en efectivo</h4>
            <p class="cuerpoTexto">Con MercadoLiebreCash tenes cuotas sin</p>
            <p class="cuerpoTexto">interés con tarjeta o efectivo en puntos de</p>
            <p class="cuerpoTexto">pago¡Y siempre es seguro!</p>
            <div class="footer-menu" ><i class="fas fa-gift"></i></div>
            <h4>Envio gratis desde los $2500</h4>
            <p class="cuerpoTexto">Solo por estar registrado en MercadoLiebre</p>
            <p class="cuerpoTexto">tenes envios gratis en miles de productos. Es</p>
            <p class="cuerpoTexto">un beneficio de Mercado Puntos</p>
             <div class="footer-menu" ><i class="fas fa-user-shield"></i></div>
            <h4>Seguridad de principio a fin</h4>
            <p class="cuerpoTexto">¿No te gusta?¡Devolvelo! En MercadoLiebre</p>
            <p class="cuerpoTexto">no hay nada que no puedas hacer porque</p>
            <p class="cuerpoTexto">estás siempre protegid@.</p>
            <div class="footerCopy"> Copyright ® 1999-2020 MercadoLiebre S.R.L.</div>
        </footer>
    </main>
</body>
</html>